html {
  background: rgb(33, 9, 45);
  font-family: sans-serif;
  font-size: 12px;
  transition: .2s;
  margin-inline: auto;
}

@media screen and (max-width: 950px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 8px;
  }
}

button {
  border: 0;
  cursor: pointer;
}