#dtg-copywrapper {
	background: transparent;
}

#dtg-innerbox {
	box-sizing: border-box;
	background: transparent;
	color: white;
	font-size: 10px;
	width: 35px;
	height: 45px;
	border: solid 6px rgb(0 115 255);
	box-shadow: -3px -3px rgb(23 15 30), -10px -10px rgb(0 115 255);
	border-radius: 7px;
}

#dtg-innerbox:hover {
	box-shadow: 0 0 20px rgb(0 115 255), -3px -3px rgb(23 15 30), -10px -10px rgb(0 115 255),
		-10px -10px 20px rgb(0 115 255);
}
